<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지</title>
</head>
<body>
<!--
    이메일:
    이름:
-->
<div th:object="${session.member}">
    <h1 id="memberEmail" th:text="*{memberEmail}"></h1>
    <h1 id="memberName" th:text="*{memberName}"></h1>
</div>

<a th:href="@{/members/update}"><button type="button">회원 수정</button></a>


<form th:action="@{/members/delete}" method="post">
    <input type="hidden" name="id" th:value="${session.member.id}">
    <button type="submit" onclick="return confirm('정말 탈퇴하시겠습니까?')">
        회원 탈퇴
    </button>
</form>

</body>
<script th:inline="javascript">
    console.log([[${session.member}]])
</script>
</html>